{% extends 'base.html.twig' %}

{% block title %}Bienvenue à Votre forum{% endblock %}

{% block body %}
<br>
       						<h3 style="text-align:center">Explorez notre forum dès maintenant et découvrez une communauté vibrante prête à vous inspirer et à vous accompagner dans votre parcours vers la réussite !</h3>
<br>
    <table class="table">
        <thead>
            <tr>
               
                <th>Date</th>
                <th>Commentaire</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sujet in sujets %}
            <tr>
               
                <td>{{ sujet.date ? sujet.date|date('Y-m-d') : '' }}</td>
                <td>{{ sujet.commentaire }}</td>
                <td>{{ sujet.reponse }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': sujet.id}) }}">Voir</a>
                    <a href="{{ path('app_user_edit', {'id': sujet.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Liste Vide !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div>
    <center>
        <a href="{{ path('app_user_new') }}">Nouvelle discussion !</a>
    </center>
</div>
    
{% endblock %}
